// Specific CSS for your home-page

.home-preview {
  margin: 5px;
  margin-bottom: 200px;
}

.home-preview h3 {
  padding: 50px;
  text-align: center;
}

.search-home {
  width: 50vw;
  margin: auto;
}

#carouselExampleControls {
  background-size: cover !important;
  background-position: center !important;
}
