<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://cdn.sanity.io/images/0vv8moc6/psychtimes/49c49973cd07a408f9dfc2831f26d91b22c9c4df-11270x5000.jpg/sand%20dune_Sasa%20Kadrijevic_AdobeStock_226272093.jpeg?w=1500&fit=max&auto=format);">
  <div class="container">
    <h1>Welcome to <strong>MARS</strong>!</h1>
    <p>Join our community and find the most magical artifacts you have never imagined!</p>
    <%= link_to "See our offer", artifacts_path, class: "btn btn-flat" %>
  </div>
</div>
