.card {
  border-radius: 20px !important;
  box-shadow: 0 0 5px rgb(192, 192, 192) !important;
  transition: 0.5s;
}

.card:hover {
  transition: 1s;
  box-shadow: 0 0 5px grey !important;
}

.card-img-top {
  border-top-left-radius: 20px !important;
  border-top-right-radius: 20px !important;
  height: 35vh;
  background-size: cover !important;
  background-position: center !important;
}

.card-image {
  background-size: cover !important;
  background-position: center !important;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: black;
}


.card-product {
  overflow: hidden;
  height: 120px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
}

.card-product img {
  height: 100%;
  width: 120px;
  object-fit: cover;
}

.card-product h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-product p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-product .card-product-infos {
  padding: 16px;
}

.card-category {
  padding: 6px 10px;
  width: fit-content;
  background-color: #4a3867ce;
  color: white;
  border-radius: 5px;
}
