.gold-coin {
  color: rgb(255, 213, 0);
}

.fa-wand-sparkles, .fa-hourglass {
  font-size: 26px;
  color: rgb(255, 166, 0);
  text-shadow: 1px 1px rgb(210, 210, 210);
}

.fa-backward {
  color: rgb(255, 166, 0);
}


.fa-rocket {
color: rgb(255, 30, 0);
text-shadow: 1px 1px rgb(210, 210, 210);
}
